<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Editing User</title>
</head>
<body>
<h1>Editing User<h2 th:text="${user.firstName}"></h2></h1>

<form th:method = post th:action="@{'/update/' + ${user.id}}">

    <label for="firstName">First Name</label>
    <input type="text" th:field="*{user.firstName}" id="firstName">

    <br/>

    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{user.lastName}" id="lastName">

    <br/>

    <label for="email">Email</label>
    <input type="text" th:field="*{user.email}" id="email">

    <br/>

    <input type="submit" value="Done!">

</form>

<h3>
    <a th:href="@{/}">Back</a>
</h3>

</body>
</html>